
body{
	margin:0px;
	padding: 0px;
	background-color:#DCE2BD;
	overflow: hidden;
	font-family: system-ui;
}
.clearfix{
	clear: both;
}
.logo{
	margin: 0px;
	margin-left: 2px;
    font-weight: bold;
    color: #25734d;
    margin-bottom: 30px;
    font-size: 34px;
}
.logo span{
	color: #25734d;
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #93C0A4;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

.sidenav p {
  padding:20px ;

}
.sidenav img{
  width: 25px;
  padding-right: 9px;}

.sidenav a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
  background-color:#1b203d;
}
.sidenav{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
#main {
  transition: margin-left .5s;
  padding: 30px 0 0 38px;
    margin-left: 300px;
}
.head{
	padding:20px;
}
.col-div-6{
	width: 50%;
	float: left;
}
.profile{
	display: inline-block;
	float: none;
	width: 160px;
}
.pro-img{
	float: left;
	width: 40px;
	margin-top: 5px;
}
.profile p{
	color: black;
	font-weight: 500;
	margin-left: 55px;
	margin-top: 10px;
	font-size: 13.5px;
}
.profile p span{
	font-weight: 400;
    font-size: 12px;
    display: block;
    color: #8e8b8b;
}
.col-div-3{
	width: 25%;
	float: left;
}
.box{
	width: 85%;
	height: 100px;
	background-color: #93C0A4;
	margin-left: 10px;
	padding:10px;
  border-radius: 8%;
}

.box p{
	 font-size: 22px;
    color: black;
    font-weight: bold;
    line-height: 30px;
    padding-left:15px;
    margin-top: 20px;
    display: inline-block;
}
.box p span{
	font-size: 20px;
	font-weight: 400;
	color: #818181;
}
.box-icon{
	font-size: px!important;
    float: right;
    margin-top: 35px!important;
    color: #818181;
    padding-right: 10px;
}
.col-div-8{
  width: 22.7%;
  float: left;
  margin-right: 21px;
}
.col-div-4{
    align-items: left;
  width: 30%;
  float: left;
  margin: 45px 2 0 300px;
}
.content-box{
	padding: 5%;
    margin: 0 auto;
}
.content-box p{
	margin: 0px;
    font-size: 20px;
    color: #283f31;
}
.content-box p span{
	float: right;
   
    padding: 3px 10px;
    font-size: 15px;
}
.box-8, .box-4{
  width: 100%;
  background-color: #93C0A4;
  height: 433px;
  border-radius: 5%;
	
}

.box-4 {
  height: 70px;
  width: 177px;
  text-align: center;
  margin: 0 352px 0;
  border-radius: 14%;

}
.box-4 p{
  font-size: 21px;
  color: black;
  font-weight: 600;
}


.nav2{
	display: none;
}

.box-8{
	margin-left: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}
td, th {
  text-align: center;
  padding:15px;
  color: black;
  border-bottom: 1px solid #81818140;
}
.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #283f31;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;}







  
/* .footer{
  text-align:center;
   max-height: 120px;
    padding: 30px;
    background-color: #093E40;
    color:white;
   padding: 19px 0 0 0 ;
} */